@article-max-width: 800px;

p {
	line-height: 1.4;
}
.container {

	.light {
		background: url('@{images}/gplaypattern.png');
		color: #666666;
	}

	.dark {
		background: url('@{images}/black_linen_v2.png');
		color: #999999;
	}

	article {
		max-width: @article-max-width;
		margin: auto;
		padding: 40px 20px;
		text-align: justify;
	}

	h1 {
		font-size: 50px;
		text-align: center;
		color: #999999;
		font-weight: normal;
	}
}