#home {
	height: 100%;
	padding-top: @navbar-height + @navbar-border-height;
	
	img {
		position: absolute;
		z-index: -1;
	}

	.title {
		padding-top: 110px;
		text-align: center;
		
		h1 {
			display: inline-block;
			color: @color-main-light;
			border-top: 1px solid @color-main-light;
			border-bottom: 1px solid @color-main-light;
			text-transform: uppercase;
			font-size: 70px;
			font-weight: 400;
		}
	} 
}