
.site-content {
	background: url('@{images}/patter_light.png');
	color: @color-grey;
}

.article-footer,
section.dark {
	background: url('@{images}/patter_dark.png');
	color: @color-grey-dark;
}

article,
.comments-area,
.post-navigation {
	max-width: @article-max-width;
	margin: auto;
	padding: 70px 20px 40px 20px;
	text-align: justify;
}

h1 {
	text-align: center;
}