@navbar-item-width: 125px;

header {
	position: fixed;
	width: 100%;
	border-bottom: @navbar-border-height solid @color-main-light;
	background: @color-main-dark;
	color: white;
  
	nav {
		float: right;
		padding: 0px 10px;

		li {
			overflow: hidden;
			line-height: @navbar-height;
		}
		
		a,
		a:hover { // overwrite Skeleton
			color: @color-main-light;
		}

		a {
			position: relative;
			width: @navbar-item-width;
			height: @navbar-height;
			display: block;
			text-align: center;
			text-transform: uppercase;
			font-size: 14px;
			
			span {
				position: absolute;
				left: 0px;
				right: 0px;
				@navbar-height: 60px;
				display: block;
				vertical-align: middle;
			}
			
			.out {
				top: 0px;
			}
			
			.over {
				top: -@navbar-height;
				background: @color-main-light;
				color: @color-main-dark;
			}
		}
	}
}