@images: '../../images';

@color-main-dark: black;
@color-main-light: white;

@navbar-height: 60px;
@navbar-border-height: 10px;

@import 'header';
@import 'footer';
@import 'page/common';
@import 'page/home';

/* --------------------- Defaults ------------------------------------------- */
html,
body {
	height: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;

	li {
		float: left;
	}
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway', sans-serif;
}