footer {
	padding: 10px 20px;
	font-size: 13px;
	color: gray;
	background: @color-main-dark;

	a {
		color: @color-main-light;
	}
	
	@media (max-width: (@screen-normal - 1)) {
		.screen-small-hide {
			display: none;
		}
	}
}