@images: '../images';
@bower: '../js/bower_components';

@screen-normal: 750px;
@screen-large: 1920px;

@color-main-dark: black;
@color-main-light: white;
@color-main-highlight: #1EAEDB;

@article-max-width: 800px;
@navbar-height: 60px;
@navbar-border-height: 10px;

@import '@{bower}/skeleton/css/normalize.css';
@import '@{bower}/skeleton/css/skeleton.css';

@import 'header';
@import 'footer';
@import 'page/common';
@import 'page/home';
@import 'page/page';
@import 'page/post';

/* --------------------- Defaults ------------------------------------------- */
html,
body {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

ul.menu {
	list-style: none;
	margin: 0px;
	padding: 0px;

	li {
		float: left;
		margin: 0px;
	}
}