
.site-content {
	background: url('@{images}/patter_light.png');
	color: @color-grey;
}

section.dark {
	background: url('@{images}/patter_dark.png');
	color: @color-grey-dark;
}

article,
.article-footer-area {
	max-width: @article-max-width;
	margin: auto;
	padding: 70px 20px 40px 20px;
	text-align: justify;
}









article {
	
	.page-title,
	.entry-title {
		text-align: center;
	}
	
	.entry-footer {
		font-size: 13px;
	}
	.entry-footer.preview {
		margin-top: -18px;
	}

	/* Lists
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	ul {
		padding: 7px;
	}
	li {
		list-style-type: disc;
		list-style-position: inside;
		text-indent: -1em;
		padding-left: 1em;
	}
}